h1 {
    color: red;
    padding: 1rem;
}
h4{
    text-transform: uppercase;
}
body{
    font-size: 1.3rem;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}
.nav-bar a {
    text-decoration: none;
    text-transform: capitalize;
    color: #555;
    margin: 0 1rem;
}
.nav-bar a:hover{
    color: #d30000;
}
.search{
    display: flex;
    align-items: center;
    gap: 1rem;
}
input{
    padding: 0.5rem;
    padding-right: 1.5rem;
}
.search-icon{
    font-size: 1rem;
    margin-left: -2.5rem;
}

.search #profil-photo {
    border: 1px solid #d30000;
    width: 2.5rem;
    border-radius: 100%;
}
.main-section{
    margin: 1rem;
    padding: 2rem;
    border: 1px solid red;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-section h2{
    font-size: 3rem;
    font: bold;
    margin: 1.5rem 0;
}
.age-restriction{
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    margin: 0 1rem;
}
.rating-container{
    color: red;
}
.details-container p{
    margin:0;
    padding-left: 0;
    padding-bottom: 0.5rem;
}
.gray{
    color: #3b3b3b;
}
.red{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.btn{
    background-color: #d30000;
    color: white;
    display: inline-block;
    border: 1px solid #d30000;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
}
.btn-m{
    font-size: small;
    background-color: #d30000;
    color: white;
    display: inline-block;
    border: 1px solid #d30000;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
}
.btn > i{
    margin-left: -0.2rem;
    margin-right: 0.6rem;
}
.btn-m > i{
    margin-left: -0.2rem;
    margin-right: 0.6rem;
}
section{
    margin: 1rem;
}
.section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-header{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
    aspect-ratio: 5/3;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}
.age-mini-display{
    border: 1px solid black;
    border-radius: 8px;
    /* padding: 3px; */
    margin: 0 1rem 0 0;
}
